<h1>ID: <%= @task.id %>`s Detail Page</h1>

<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <td><%= @task.id %></td>
  </tr>
  <tr>
    <th>STATUS</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th>CONTENT</th>
    <td><%= @task.content %></td>
  </tr>
</table>

<%= link_to 'Update', edit_task_path(@task) , class: 'btn btn-default' %>
<%= link_to 'Delete', @task, method: :delete, data:{confirm: 'Are you sure you want to delete this tusk ? '},class:'btn btn-danger' %>
